.info-page{
  text-decoration: none;
}
.info-page {
  min-height: 60vh;
  padding: 80px 10%;
  text-align: center;
  text-decoration: none;
}

.info-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.info-page p,
.info-page li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  list-style: none;
}